<template>
    <div class="p-3">
        <h3>Play Controller</h3>
        <hr class="mb-2">
        <count-timer :showTime="playTime"></count-timer>
        <hr class="mb-2">
        <play-panel></play-panel>
        <hr class="mb-2">
        <block-node-panel></block-node-panel>
        <hr class="mb-2">
        <release-node-panel></release-node-panel>
        <hr class="mb-2">
        <release-all-nodes-panel></release-all-nodes-panel>
    </div>
</template>
<script>
    import PlayPanel from "../playpanel.vue";
    import CountTimer from "../counttime.vue";
    import BlockNodePanel from "../nodepanel/NodeBlockPanel.vue";
    import ReleaseNodePanel from "../nodepanel/NodeReleasePanel.vue";
    import ReleaseAllNodesPanel from "../nodepanel/ReleaseAllNodesPanel.vue";

    export default {
        components: {
            ReleaseAllNodesPanel,
            ReleaseNodePanel,
            BlockNodePanel,
            CountTimer,
            PlayPanel},
        name: 'controlSideBar',
        data(){
            return {
                shareState: this.$root.$data.state
            }
        },
        computed: {
            playTime: function () {
                return this.shareState.playTime;
            },
        }
    }
</script>