<template>
    <div id="app" class="wrapper">
        <navbar></navbar>

        <mainsidebar></mainsidebar>
        <router-view></router-view>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <control-side-bar></control-side-bar>
        </aside>
        <!-- /.control-sidebar -->

        <mainfooter></mainfooter>
    </div>
</template>

<script>

    import Mainfooter from "./MainFooter.vue";
    import Mainsidebar from "./MainSideBar.vue";
    import Navbar from "./Navbar.vue";
    import ControlSideBar from "./dashboard/sidebar/Sidebar.vue";
    export default {
        components: {
            ControlSideBar,
            Mainsidebar,
            Mainfooter,
            Navbar},
        name: 'app'
    }
</script>

<style>
</style>