<template>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview">
                <a href="javascript:" class="nav-link" :class="{'active' : activeMenu == 'dashboard'}" @click="menuClickHandler('dashboard')">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                        Dashboard
                        <i class="right fa fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <router-link to="/" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Dashboard</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/playcontrol" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Play Control</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/setting" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Setting</p>
                        </router-link>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="javascript:" class="nav-link" :class="{'active' : activeMenu == 'etg'}" @click="menuClickHandler('etg')">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                        Train Visual
                        <i class="right fa fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 1 ,borderName: 'Freight'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Freight</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 2 ,borderName: 'Illawarra'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Illawarra</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 3 ,borderName: 'Main A'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Main A</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 4 ,borderName: 'Main B'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Main B</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 5 ,borderName: 'North'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>North</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 6 ,borderName: 'Outer'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Outer</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link :to="{name:'etg', params:{borderId: 7 ,borderName: 'South Coast/West'}}" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>South Coast/West</p>
                        </router-link>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="javascript:" class="nav-link">
                    <i class="nav-icon fa fa-dashboard"></i>
                    <p>
                        Network
                        <i class="right fa fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <router-link to="/network" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Network</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/network3d" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Network GEO</p>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/pathPlan" class="nav-link">
                            <i class="fa fa-circle-o nav-icon"></i>
                            <p>Path Plan</p>
                        </router-link>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</template>
<script>
    export default {
        name: 'mainmenu',
        data: function(){
            return {
                activeMenu:'dashboard'
            }
        },
        methods:{
            menuClickHandler(active){
                this.activeMenu = active;
            }
        }
    }
</script>