<template>
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-block-down">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="https://www.modis.com">Modis</a>.</strong> All rights reserved.
    </footer>
</template>
<script>
    export default {
        name: 'mainfooter'
    }
</script>