<template>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="/assets/images/modis.png" alt="Modis Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Modis</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <!--<img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">-->
                </div>
                <div class="info">
                    <a href="#" class="d-block">ETG Simulator</a>
                </div>
            </div>
            <mainmenu></mainmenu>
        </div>
        <!-- /.sidebar -->
    </aside>

</template>
<script>
    import Mainmenu from "./MainMenu.vue";

    export default {
        components: {
            Mainmenu},
        name: 'mainsidebar'
    }
</script>