<template>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <running-status-panel></running-status-panel>
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

</template>
<script>
    import TimeWindowPanel from "../dashboard/TimeWindow.vue";
    import ChannelStatusWidget from "../dashboard/widgets/ChannelStatusWidget.vue";
    import ChannelRequestStatusWidget from "../dashboard/widgets/ChannelRequestStatusWidget.vue";
    import RunningStatusPanel from "../dashboard/runningstatus/RunningStatusPanel.vue";

    export default {
        components: {
            RunningStatusPanel
        },
        name: 'dashboard'
    }
</script>