<template>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Play Control</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Play Control</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <simulator-channel title="Timetable" v-bind:channel-status="true"></simulator-channel>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <simulator-channel title="Network Outage" v-bind:channel-status="false"></simulator-channel>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <simulator-channel title="Fleet Allocation" v-bind:channel-status="false"></simulator-channel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <time-window-panel></time-window-panel>
                    </div>
                    <!-- /.col-md-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>

</template>
<script>
    import TimeWindowPanel from "../dashboard/TimeWindow.vue";
    import ChannelStatusWidget from "../dashboard/widgets/ChannelStatusWidget.vue";
    import ChannelRequestStatusWidget from "../dashboard/widgets/ChannelRequestStatusWidget.vue";
    import SimulatorChannel from "../dashboard/widgets/SimulatorChannel.vue";

    export default {
        components: {
            SimulatorChannel,
            ChannelRequestStatusWidget,
            ChannelStatusWidget,
            TimeWindowPanel},
        name: 'playControl'
    }
</script>