<template>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Config DataSet</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Setting</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- main content -->
        <section class="content">
            <div class="container-fluid">
                <!--<div class="row">-->
                    <!--&lt;!&ndash; full column &ndash;&gt;-->
                    <!--<div class="col-md-12">-->
                        <!--<channel-config-section datasetType="vm" cardheader="Config VM"-->
                                <!--description="Playback Siri VM for Vehicle Monitoring (VM). Baseline request will only consist of data in the cache. "-->
                                <!--title="Vehicle Monitoring"></channel-config-section>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-md-12">
                        <channel-config-section datasetType="pt" cardheader="Config PT"
                                           description="Process and preload various timetables which uses the Siri-PT standard. Only send a Request once pre-loading has been completed. Responses are automatically adjusted to Request Start Date."
                                           title="Siri-PT Varies Timetables"></channel-config-section>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<channel-config-section datasetType="far" cardheader="Config FA"-->
                                           <!--description="Playback Fleet Allocation messages. Only send a request once pre-loading has been completed. Response is adjusted to request startDateTime."-->
                                           <!--title="Fleet Allocation (Request/Response)"></channel-config-section>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<channel-config-section datasetType="fap" cardheader="Config FA"-->
                                           <!--description="Continuously pushes Fleet Allocation messages onto queue, based on captured time. Select Date to manipulate Trip Date."-->
                                           <!--title="Fleet Allocation (Publish)"></channel-config-section>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<channel-config-section datasetType="no" cardheader="Config NO"-->
                                           <!--description="Playback Network Outage messages. Source file must be prefixed with yyyy-mm-dd using the original request start date."-->
                                           <!--title="Possessions"></channel-config-section>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<channel-config-section datasetType="im" cardheader="Config IM"-->
                                           <!--description="Playback Incident messages. Source file must be prefixed with yyyy-mm-dd using the original request start date."-->
                                           <!--title="Incident"></channel-config-section>-->
                    <!--</div>-->

                <!--</div>-->
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
</template>
<script>
    import ChannelConfigSection from "../setting/ChannelConfig.vue";

    export default {
        components: {
            ChannelConfigSection},
        name: 'setting'
    }
</script>