<template>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Train Visual</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Train Visual</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- full column -->
                    <div class="col-md-12">
                        <etg-trip :tripId="$route.params.tripId"></etg-trip>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
</template>
<script>
    import ChannelConfigSection from "../setting/ChannelConfig.vue";
    import EtgBorder from "../etg/border.vue";
    import EtgSector from "../etg/sector.vue";
    import EtgTrip from "../etg/trip.vue";

    export default {
        components: {
            EtgTrip,
            EtgSector,
            EtgBorder,
            ChannelConfigSection},
        name: 'TripView'
    }
</script>