<template>
    <div style="height: 800px; overflow-y: scroll;">
        <table class="table table-condensed">
            <tbody><tr>
                <th style="width: 10px">#</th>
                <th>Stop</th>
                <th>Arrival</th>
                <th>Departure</th>
                <th style="width: 40px">Action</th>
            </tr>
            <tr v-for="(item, index) in targetTripDetails">
                <td>{{index}}</td>
                <td>{{item.platform}}</td>
                <td>
                    <template v-if="item.actualArrival"><span :class="tripTextClass(item.actualArrival, true)">{{formatTime(item.actualArrival)}}</span></template>
                    <template v-else><span :class="tripTextClass(item.plannedArrival, false)">{{formatTime(item.plannedArrival)}}</span></template>
                </td>
                <td>
                    <template v-if="item.actualDeparture"><span :class="tripTextClass(item.actualDeparture, true)">{{formatTime(item.actualDeparture)}}</span></template>
                    <template v-else><span :class="tripTextClass(item.plannedDeparture, false)">{{formatTime(item.plannedDeparture)}}</span></template>
                </td>
                <td>
                    <div class="btn-group">
                        <button v-if="isChangeable(item)" type="button" class="btn btn-default btn-sm" @click="skipStop(tripId, item.stopRef)"><i class="fa fa-share fa-1"></i></button>
                        <button v-if="isChangeable(item)" type="button" class="btn btn-default btn-sm" @click="delayMovement(tripId, item.stopRef)"><i class="fa fa-step-backward"></i></button>
                    </div>
                </td>
            </tr>
            </tbody></table>
    </div>
</template>
<script>
    const axios = require('axios');
    const moment = require('moment');
    export default {
        name: 'tripPlatformDetailsList',
        props:['tripId', 'trip'],
        data: function(){
            return {
                intervalId: '',
                shareState: this.$root.$data.state,
                targetTripDetails:[]
            }
        },
        mounted () {
          this.startRefresh();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        watch: {
            tripId: function (val, oldVal) {
                this.loadTripDetails();
            }
        },
        methods: {
            startRefresh () {
                // startup
                this.loadTripDetails();
                //load previous data
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.loadTripDetails();
                    }
                }, 1000*30);
            },
            loadTripDetails () {
                axios.get('/api/v1/trip/' + this.tripId + '/platform')
                    .then((response) => {
                        this.targetTripDetails = response.data.calls;
                        console.log(response.data.calls);
                    });
            },
            formatTime(timestamp){
                return moment(timestamp).format('HH:mm:ss');
            },
            tripTextClass: function (timestamp, isActual) {
                let targetTime = moment(timestamp);
                if(isActual) {
                    return {
                        'text-success':true
                    }
                } else {
                    return {
                        'invalid-trip text-muted':targetTime.isBefore(this.shareState.startTime),
                        'text-danger': targetTime.isBefore(this.shareState.playTime) && targetTime.isAfter(this.shareState.playTime),
                        'text-muted': targetTime.isAfter(this.shareState.playTime)
                    }

                }
            },
            isChangeable(item){
                if(item.plannedDeparture !== item.plannedArrival){
                    let departureTime = moment(item.plannedDeparture);
                    if(departureTime.isAfter(this.shareState.playTime)) {
                        return true;
                    } else {
                        return false;
                    }

                } else {
                    return false;
                }
            },
            skipStop(tripId, stopRef){
                axios.post('/api/v1/simulator/cmd/skipStop',{
                    group: "etg",
                    tripId: tripId,
                    stopRef: stopRef
                }).then((response) => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'Skip stop at ' + stopRef + " in " + this.trip + '.',
                        customClass:'show'
                    });
                });
            },
            delayMovement(tripId, stopRef){
                axios.post('/api/v1/simulator/cmd/delayMovement',{
                    group: "etg",
                    tripId: tripId,
                    seconds: 100,
                    startRef: stopRef,
                    stopRef: ""
                }).then((response) => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'Delay ' + this.trip + ' for 100 seconds.',
                        customClass:'show'
                    });
                });
            }
        }
    }
</script>
<style>
    .invalid-trip {
        text-decoration: line-through;
    }
</style>