<template>
    <div style="width:100%" class="text-center">
        <a class="btn btn-app" v-on:click="delayTrip(100)">
            <span class="badge bg-warning">100</span>
            <i class="fa fa-forward"></i> Delay
        </a>
        <a class="btn btn-app" v-on:click="delayTrip(200)">
            <span class="badge bg-warning" >200</span>
            <i class="fa fa-forward"></i> Delay
        </a>
        <a class="btn btn-app" @click="terminateTrip">
            <i class="fa fa-refresh"></i> Terminate
        </a>
    </div>
</template>

<script>
    const axios = require('axios');
    const moment = require('moment');
    export default {
        name: 'tripControlPanel',
        props:['tripId', 'trip'],
        data: function(){
            return {
                shareState: this.$root.$data.state,
                targetTripDetails:[]
            }
        },
        mounted () {

        },
        beforeDestroy () {

        },
        methods: {
            terminateTrip () {
                axios.post('/api/v1/simulator/cmd/terminateTrip', {
                    group: "",
                    tripId:this.tripId
                }).then((response) => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'Trip ' + this.trip + ' has been terminated.',
                        customClass:'show'
                    })
                });
            },
            delayTrip (secs) {
                axios.post('/api/v1/simulator/cmd/delayMovement', {
                    tripId:this.tripId,
                    group: "",
                    seconds: secs,
                    startRef: "",
                    stopRef: ""
                }).then((response) => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'Trip ' + this.trip + ' has been delay for ' + secs + ' sec.',
                        customClass:'show'
                    })
                });
            }
        }
    }
</script>