html, body {
  height: 100vh;
}

body > .alert {
  z-index: 2000;
}

.panel-fullscreen {
  display: block;
  z-index: 9999;
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

@import "variables.scss";
