<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{borderName}}</h5>
            <div class="card-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">
                        <a href="javascript:" class="dropdown-item" v-for="item in sectors" @click="switchSector(item.index)">
                            {{item.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-12">
                    <chart ref="etg" :watchShallow="true" style="height: 800px; width: 100%" :manualUpdate="true"></chart>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {generateEtgConfig, generateETGMarkLineConfig, generatePTSeries, generateTripSeries} from '../../etgConfig.js'
    import 'zrender/lib/svg/svg';
    const axios = require('axios');
    const moment = require('moment');

    export default {
        name: 'etgBorder',
        props:['borderId', 'borderName'],
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                appendETGData:{},
                currentIndexMap:{},
                sectors:[],
                selectedSector: 0
            }
        },
        watch: {
            borderId: function (val, oldVal) {
                console.log("border changed...");
                this.clearChart();
                this.loadMarkLine();
                this.fetchSectors();
            }
        },
        mounted () {
            console.log('chart mount...');
            this.loadMarkLine();
            this.fetchSectors();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        methods: {
            clearChart() {
                let etg = this.$refs.etg;
                etg.clear();
            },
            startConfig() {
                return generateEtgConfig(this.borderId, 'North');
            },
            fetchSectors() {
                axios.get("/api/v1/etg/board/" + this.borderId + '/sector').then((response => {
                    if (response.data.sectors.length > 0) {
                        this.sectors = response.data.sectors;
                    }
                }));
            },
            switchSector(index) {

            },
            startRefresh () {
                // startup
                //load previous data
                this.refreshVM(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay) {
                        this.refreshVM(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*10);
            },
            refreshVM (startTime, endTime) {
                let etg = this.$refs.etg;
                // load related data
                axios.get("/api/v1/etg/vm/board/" + this.borderId, {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if (response.data.length > 0) {
                        let appendData = {};
                        response.data.forEach(dto => {
                            let seriesIndex = this.findIndexByName(dto.tripId +'-' + dto.index);
                            if(seriesIndex > 0) {
                                appendData[seriesIndex] = dto.calls;
                            }
                        });
                        // start append data into chart
                        // update chart
                        this.appendVMData(appendData);
                    }
                });

            },
            loadMarkLine (callback) {
                let etg = this.$refs.etg;
                etg.showLoading({
                    text: 'Loading timetable...',
                    color: '#4ea397',
                    maskColor: 'rgba(255, 255, 255, 0.4)'
                });
                axios.get('/api/v1/etg/markline/' + this.borderId)
                    .then((response) => {
                    console.log(response.data.lines);
                        let newOptions = generateETGMarkLineConfig(this.startConfig(), response.data.lines);
                        let etg = this.$refs.etg;
                        etg.mergeOptions(newOptions);
                        this.loadTimeTable();
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            loadPreVM () {

            },
            loadTimeTable () {
                let etg = this.$refs.etg;
                let pointCount = 0;
                axios.get('/api/v1/etg/pt/border/' + this.borderId)
                    .then((response) => {
                        let groupedByIndex = groupBy(response.data, 'index');
                        let ptSeries = [];
                        let tripSeries = [];
                        for (var index in groupedByIndex) {
                            if (groupedByIndex.hasOwnProperty(index)) {
                                let ptList= groupedByIndex[index].filter(t => t.calls.length > 2)
                                    .map(trip => {
                                        pointCount += trip.calls.length;
                                    return generatePTSeries(index, trip.tripId, trip.trip, trip.calls, null, trip.isChanged);
                                });
                                let tripList = groupedByIndex[index].filter(t => t.calls.length > 2)
                                    .map(trip => {
                                        return generateTripSeries(index, trip.tripId, trip.trip, trip.calls);
                                    });
                                ptSeries = ptSeries.concat(ptList);
                                tripSeries = tripSeries.concat(tripList)
                            }
                        }
                        etg.mergeOptions({
                            series:this.$refs.etg.computedOptions.series.concat(ptSeries).concat(tripSeries)
                        });
                        etg.hideLoading();
                        //console.log("series count: " + this.$refs.etg.computedOptions.series.length);
                        //console.log("point count: " + pointCount);
                        this.startRefresh();
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            appendVMData(appendETGData) {
                let etg = this.$refs.etg;
                for (var key in appendETGData) {
                    if (appendETGData.hasOwnProperty(key)) {
                        etg.appendData({
                            seriesIndex: key,
                            data:appendETGData[key]
                        });
                    }
                }
            },
            findIndexByName(name) {
                let etg = this.$refs.etg;
                if(this.currentIndexMap[name] === undefined) {
                    let index = this.$refs.etg.computedOptions.series.findIndex(function(e){
                        return e.name === name;
                    });
                    this.currentIndexMap[name] = index;
                    return index;
                } else {
                    return this.currentIndexMap[name];
                }
            }
        }
    }



    function groupBy(objectArray, property) {
        return objectArray.reduce(function (acc, obj) {
            var key = obj[property];
            if (!acc[key]) {
                acc[key] = [];
            }
            acc[key].push(obj);
            return acc;
        }, {});
    }

</script>
<style>
    .etg-echarts {
        height: 800px;
        width: 100%;
    }
</style>