<template>
    <chart ref="platform" :watchShallow="true" style="height: 300px; width: 100%" :manualUpdate="true" :autoResize="true"></chart>
</template>
<script>
    import {generateInitPlatformConfig} from "../../platformConfig.js"

    const axios = require('axios');
    const moment = require('moment');
    export default {
        name: 'etgPlatform',
        props:['platformConfig', 'platformZoom', 'isShowPlatform'],
        data: function(){
            return {

            }
        },
        watch: {
            platformConfig: function (val, oldVal) {
                if(this.isShowPlatform)
                this.updatePlatform(val.platformName, val.masterNode, val.startTime, val.endTime);
            },
            platformZoom: function (val, oldVal) {
                if(this.isShowPlatform)
                this.updatePlatformZoom(val.start, val.end);
            }
        },
        methods:{
            updatePlatform(platformName, masterNode, startTime, endTime){
                axios.get('/api/v1/platform/lane/' + masterNode)
                    .then((response) => {
                        if(response.data !== undefined) {
                            this.isShowPlatform = true;
                            let platform = this.$refs.platform;
                            let platFormLanes = response.data;
                            axios.get('/api/v1/platform/' + masterNode, {
                                params: {
                                    startTime: startTime.format(),
                                    endTime: endTime.format()
                                }
                            }).then((response) => {
                                if(response.data !== undefined) {
                                    let initConfig = generateInitPlatformConfig(platformName, platFormLanes, response.data);
                                    platform.mergeOptions(initConfig, true);
                                }
                            });
                        } else {
                            this.isShowPlatform = false;
                        }
                    });
            },
            updatePlatformZoom(start, end){
                let platform = this.$refs.platform;
                platform.mergeOptions({
                    dataZoom: {
                        start: start,
                        end: end
                    }
                });
            },
        }
    }
</script>