<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{borderName}}</h5>
            <div class="card-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">
                        <a href="javascript:" class="dropdown-item" v-for="item in sectors" @click="switchSector(item.index, $event)">
                            {{item.name}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-12">
                    <chart ref="etg" :watchShallow="true" style="height: 800px; width: 100%" :manualUpdate="true" :autoResize="true"></chart>
                </div>
                <div class="col-sm-12">
                    <div class="panel-collapse in collapse" :class="{show:isShowPlatform}">
                        <!--<chart ref="platform" :watchShallow="true" style="height: 300px; width: 100%" :manualUpdate="true" :autoResize="true"></chart>-->
                        <etg-platform :platformConfig="platformConfig" :platformZoom="platformZoom" :isShowPlatform="isShowPlatform"></etg-platform>
                    </div>
                </div>
            </div>
        </div>
        <etg-context-menu :pop-items="popItems" :mouse="mousePosition" @ListItemClick="list_item_click">
            <div slot="above">
                <h5>{{this.selectedTrip()}}</h5>
            </div>
        </etg-context-menu>
    </div>
</template>
<script>
    import {generateEtgConfig, generateETGMarkLineConfig, generatePTSeries, generateTripSeries, getTripFromTripID, highLightTrip, removeHighLightTrip, highLightPT, removeHighLightPT, getTripIDFromTripSeriesName} from '../../etgConfig.js'
    import {convertToETGDisplayData, initDataWindow, checkDataWindow, groupByProperty} from '../../utils.js'
    import {generateOutageData} from '../../networkOutageConfig.js';
    import EtgContextMenu from "../libs/ContextMenu.vue";
    import {generateInitPlatformConfig} from "../../platformConfig.js"
    import {initDragDrop, updateControlPointPosition} from "../../etgDragDropConfig.js"
    import EtgPlatform from "./platform.vue";

    const axios = require('axios');
    const moment = require('moment');

    export default {
        components: {
            EtgPlatform,
            EtgContextMenu},
        name: 'etgSector',
        props:['borderId', 'borderName'],
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                appendETGData:{},
                currentIndexMap:{},
                sectors:[],
                selectedSector: 0,
                selectedTripSerieName:'',
                currentTimeWindow:initDataWindow(moment().startOf('Day').valueOf()),
                popItems:[
                    {
                        class:'fa fa-wrench',
                        txt:'Show Trip'
                    },
                    {
                        class:'fa fa-random',
                        txt:'Plan Trip Route'
                    },
                    {
                        class:'fa fa-check',
                        txt:'Thinking...'
                    }
                ],
                mousePosition:['close'],
                markLineData:[],
                isShowPlatform:false,
                isDrop:false,
                platformConfig:{},
                platformZoom:{}
            }
        },
        watch: {
            borderId: function (val, oldVal) {
                console.log("border changed...");
                this.selectedSector = 0;
                this.clearChart();
                this.loadMarkLine();
                this.fetchSectors();
            }
        },
        mounted () {
            console.log('chart mount...');
            this.initChart();
            this.loadMarkLine();
            this.fetchSectors();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        methods: {
            pop(e){
                let self = this;
                let btn = e.toElement;
                let x, y;
                if(self.mousePosition[0] !== 'close'){
                    self.mousePosition = ['close'];
                }
                else {
                    self.mousePosition = [e.offsetX, e.offsetY];
                }
            },
            initChart() {
                this.clearChart();
                let etg = this.$refs.etg;
                let self = this;
                etg.chart.getZr().on('contextmenu', function (e) {
                    if(e.target === undefined && e.topTarget !== undefined) {
                        if(e.topTarget.parent!==undefined
                            && e.topTarget.parent.parent !== undefined
                            && e.topTarget.parent.parent.__ecComponentInfo !== undefined) {
                            let index = e.topTarget.parent.parent.__ecComponentInfo.index;
                            self.selectedTripSerieName = etg.chart.getOption().series[index].name;
                            self.pop(e);
                        } else {
                            self.removeHighLight()
                        }
                    } else {
                        self.removeHighLight()
                    }
                });
                // handle the stopRef click event
                etg.chart.on('click', function(e){
                    let dataIndex = e.dataIndex;
                    let seriesIndex = e.seriesIndex;
                    let yValue = etg.chart.getOption().series[seriesIndex].data[dataIndex][1];
                    let stopRef = self.markLineData.find((item) => {
                        return item.yAxis == yValue;
                    });
                    if(stopRef !== undefined) {
                        self.isShowPlatform = true;
                        self.platformConfig = {
                            platformName: stopRef.name,
                            masterNode:stopRef.masterNode,
                            startTime:self.shareState.startTime,
                            endTime:self.shareState.playTime
                        };
                    }
                });
                // handle data zoom
                etg.chart.on('dataZoom', function (e) {
                    let result = {isReload:false};
                    if (e.start !== undefined) {
                        self.platformZoom = {
                            start:e.start,
                            end:e.end
                        };
                        result = checkDataWindow(moment().startOf('Day').valueOf(), e.start, e.end, self.currentTimeWindow);
                    } else if(e.batch !== undefined) {
                        self.platformZoom = {
                            start:e.batch[0].start,
                            end:e.batch[0].end
                        };
                        result = checkDataWindow(moment().startOf('Day').valueOf(), e.batch[0].start, e.batch[0].end, self.currentTimeWindow);
                    }
                    // reload the data window based on the zoom

                    if(result.isReload) {
                        self.updateDataWindow(result.startTime, result.endTime, result.start, result.end);
                        self.clearChart();
                        self.loadMarkLine();
                    } else {
                        // only update zoom
                        self.currentTimeWindow.start = result.start;
                        self.currentTimeWindow.end = result.end;
                        // update pt control points
                        updateControlPointPosition(etg.chart, 0)
                    }
                });
                etg.chart.getZr().on('click', function(e){
                    // this function only handle line click
                    if(e.target === undefined && e.topTarget !== undefined) {
                        if(e.topTarget.parent!==undefined
                            && e.topTarget.parent.parent !== undefined
                            && e.topTarget.parent.parent.__ecComponentInfo !== undefined) {
                            // remove highlight first
                            self.removeHighLight();
                            let index = e.topTarget.parent.parent.__ecComponentInfo.index;
                            self.selectedTripSerieName = etg.chart.getOption().series[index].name;
                            self.highLight();
                            etg.dispatchAction({
                                type: 'showTip',
                                seriesIndex: index,
                                dataIndex: 1
                            });
                        } else {
                            self.removeHighLight()
                        }
                    } else {
                        self.removeHighLight()
                    }

                    self.mousePosition = ['close'];
                });
            },
            clearChart() {
                let etg = this.$refs.etg;
                etg.clear();
                etg.mergeOptions(this.startConfig(), true);
                this.currentIndexMap={};
            },
            startConfig() {
                return generateEtgConfig(this.borderId, '');
            },
            fetchSectors() {
                axios.get("/api/v1/etg/board/" + this.borderId + '/sector').then((response => {
                    if (response.data.sectors.length > 0) {
                        this.sectors = response.data.sectors;
                    }
                }));
            },
            switchSector(index, e) {
                e.stopPropagation();
                this.selectedSector = index;
                this.clearChart();
                this.loadMarkLine();
            },
            startRefresh () {
                // startup
                //load previous data
                this.refreshVM(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshVM(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*10);
            },
            refreshVM (startTime, endTime) {
                let etg = this.$refs.etg;
                // load related data
                axios.get("/api/v1/etg/vm/board/" + this.borderId, {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if (response.data.length > 0) {
                        let appendData = {};
                        response.data.forEach(dto => {
                            if(dto.index == this.selectedSector) {
                                let seriesIndex = this.findIndexByName(dto.tripId +'-' + 0);
                                if(seriesIndex > 0) {
                                    appendData[seriesIndex] = convertToETGDisplayData(dto.calls);
                                } else {
                                    console.log('can not for ' + dto.tripId);
                                }
                            }
                        });
                        // start append data into chart
                        // update chart
                        this.appendVMData(appendData);
                    }
                });

            },
            loadMarkLine (callback) {
                let etg = this.$refs.etg;
                etg.showLoading({
                    text: 'Loading timetable...',
                    color: '#4ea397',
                    maskColor: 'rgba(255, 255, 255, 0.4)'
                });

                axios.get('/api/v1/etg/markline/' + this.borderId)
                    .then((response) => {
                        this.markLineData = response.data.lines[this.selectedSector];
                        let newOptions = generateETGMarkLineConfig(
                            this.startConfig(),
                            [response.data.lines[this.selectedSector]],
                            false, this.currentTimeWindow.start, this.currentTimeWindow.end);
                        let etg = this.$refs.etg;
                        etg.mergeOptions(newOptions);
                        this.loadTimeTable();

                    });
            },
            list_item_click(it){
                switch (it){
                    case 0:
                        // show the trip details
                        this.$router.push({name: 'tripView', params:{tripId:this.selectedTripID()}});
                        break;
                    case 1:
                        this.$router.push({name: 'pathPlan', params:{tripId:this.selectedTripID()}});
                        break;
                    case 2:
                        alert('I am still thinking...');
                        break;
                }
            },
            loadTimeTable () {
                let etg = this.$refs.etg;
                let pointCount = 0;
                axios.get('/api/v1/etg/pt/sector', {
                    params: {
                        borderId:this.borderId,
                        sectorIndex:this.selectedSector,
                        startDate: moment(this.currentTimeWindow.startTime).format(),
                        endDate:moment(this.currentTimeWindow.endTime).format()
                    }
                }).then((response) => {
                        let groupedByIndex = groupByProperty(response.data, 'index');
                        let ptSeries = [];
                        let tripSeries = [];
                        let seriesCount = 0;
                        for (var index in groupedByIndex) {
                            if (groupedByIndex.hasOwnProperty(index) && index == this.selectedSector) {
                                let ptList= groupedByIndex[index].filter(t => t.calls.length > 2)
                                    .map(trip => {
                                        pointCount += trip.calls.length;
                                        seriesCount++;
                                        return generatePTSeries(0, trip.tripId, trip.trip, trip.calls, null, trip.isChanged);
                                    });
                                let tripList = groupedByIndex[index].filter(t => t.calls.length > 2)
                                    .map(trip => {
                                        return generateTripSeries(0, trip.tripId, trip.trip, trip.calls);
                                    });

                                ptSeries = ptSeries.concat(ptList);
                                tripSeries = tripSeries.concat(tripList)
                            }
                        }
                        etg.mergeOptions({
                            series:this.$refs.etg.computedOptions.series.concat(ptSeries).concat(tripSeries)
                        });
                        // init dragdrop
                        initDragDrop(etg.chart, response.data, this.selectedSector, this.onTripDragEnd, this.onTripDropEnd);

                        etg.hideLoading();
//                        console.log(this.$refs.etg.computedOptions);
//                        console.log("point count: " + pointCount);
//                        console.log("series count: " + seriesCount);
                        this.loadOutage();
                    });
            },
            loadOutage() {
                let etg = this.$refs.etg;
                etg.showLoading({
                    text: 'Loading network outage...',
                    color: '#4ea397',
                    maskColor: 'rgba(255, 255, 255, 0.4)'
                });

                axios.get('/api/v1/etg/no/' + this.borderId)
                    .then((response) => {
                        let groupedByIndex = groupByProperty(response.data, 'index');
                        let outageBorderList = [];
                        for (var index in groupedByIndex) {
                            if (groupedByIndex.hasOwnProperty(index) && index == this.selectedSector) {
                                let outageList= groupedByIndex[index]
                                    .map(outage => {
                                        return generateOutageData(outage);
                                    });
                                outageBorderList.push({
                                    name: 'outagelevel-0',
                                    data: outageList
                                });
                            }
                        }
                        etg.hideLoading();
                        if (outageBorderList.length > 0) {
                            etg.mergeOptions({
                                series: outageBorderList
                            });
                        }
                        this.startRefresh();
                    });
            },
            appendVMData(appendETGData) {
                let etg = this.$refs.etg;
                for (var key in appendETGData) {
                    if (appendETGData.hasOwnProperty(key)) {
                        etg.appendData({
                            seriesIndex: key,
                            data:appendETGData[key]
                        });
                    }
                }
            },
            findIndexByName(name) {
                let etg = this.$refs.etg;
                if(this.currentIndexMap[name] === undefined) {
                    let index = this.$refs.etg.computedOptions.series.findIndex(function(e){
                        return e.name === name;
                    });
                    this.currentIndexMap[name] = index;
                    return index;
                } else {
                    return this.currentIndexMap[name];
                }
            },
            highLight(){
                if(this.selectedTripSerieName !== '') {
                    console.log('higlight ' + this.selectedTripSerieName);
                    let etg = this.$refs.etg;
                    highLightTrip(etg.chart, this.selectedTripSerieName);
                    highLightPT(etg.chart, this.selectedTripSerieName);
                }
            },
            removeHighLight() {
                if(this.selectedTripSerieName !== '') {
                    let etg = this.$refs.etg;
                    removeHighLightTrip(etg.chart, this.selectedTripSerieName);
                    removeHighLightPT(etg.chart, this.selectedTripSerieName);
                    this.selectedTripSerieName = "";
                }
            },
            selectedTrip() {
                return getTripFromTripID(this.selectedTripSerieName);
            },
            selectedTripID() {
                return getTripIDFromTripSeriesName(this.selectedTripSerieName);
            },
            updateDataWindow(startTime, endTime, start, end){
                this.currentTimeWindow.start = start;
                this.currentTimeWindow.end = end;
                this.currentTimeWindow.startTime = startTime;
                this.currentTimeWindow.endTime = endTime;
                console.log(this.currentTimeWindow);
            },
            onTripDragEnd(tripId, seconds, value) {
                this.isDrop =false;
                setTimeout(() => {
                    if(!this.isDrop) {
                        // get stopref
                        axios.get('/api/v1/etg/trip/call', {
                            params: {
                                borderId:this.borderId,
                                sectorId:this.selectedSector,
                                tripId: tripId,
                                value:value
                            }
                        }).then((response) => {
                            let departureTime = moment.unix(moment(response.data.d)).valueOf() / 1000;
                            // set it as delay
                            let delay = Math.round((seconds - departureTime)/1000);
                            if (delay < 30) {
                                return;
                            }
                            axios.post('/api/v1/simulator/cmd/delayTrip', {
                                group: "etg",
                                tripId: tripId,
                                seconds: delay,
                                startStopRef: response.data.s,
                            }).then((response) => {
                                this.$uiv_notify({
                                    title: 'ETG-Simulator',
                                    content: 'Delay trip [' + tripId + '] about ' + delay + " seconds.",
                                    customClass:'show'
                                });
                            });
                        });
                    }

                }, 1000);
            },
            onTripDropEnd(dragStartValue, dragStartTimeValue, dragTrip, dropTimeValue, dropTrip) {
                console.log("dragId is " + dragTrip + "; dropId is " + dropTrip);
                this.isDrop = true;
                if(dragTrip === dropTrip) {
                    // this is skip stop
                    // get stopref
                    axios.get('/api/v1/etg/trip/call', {
                        params: {
                            borderId:this.borderId,
                            sectorId:this.selectedSector,
                            tripId: dragTrip,
                            value:dragStartValue
                        }
                    }).then((response) => {
                        let targetStopRef = response.data.s;
                        axios.post('/api/v1/simulator/cmd/skipStop',{
                            group: "etg",
                            tripId: dragTrip,
                            stopRef: targetStopRef
                        }).then((response) => {
                            this.$uiv_notify({
                                title: 'ETG-Simulator',
                                content: 'Skip stop at ' + targetStopRef + ' in ' + dropTrip + " .",
                                customClass:'show'
                            });
                        });
                    });

                } else {
                    // this is merge trip /api/v1/simulator/cmd/mergeTrip
                    // get stopref
                    axios.get('/api/v1/etg/trip/call', {
                        params: {
                            borderId:this.borderId,
                            sectorId:this.selectedSector,
                            tripId: dragTrip,
                            value:dragStartValue
                        }
                    }).then((response) => {
                        let dragStopRef = response.data.s;
                        axios.get('/api/v1/etg/trip/call', {
                            params: {
                                borderId:this.borderId,
                                sectorId:this.selectedSector,
                                tripId: dropTrip,
                                value:dragStartValue
                            }
                        }).then((response) => {
                            let dropStopRef = response.data.s;
                            axios.post('/api/v1/simulator/cmd/mergeTrip', {
                                group: "etg",
                                startTripId: dragTrip,
                                startTripStopRef: dragStopRef,
                                endTripId: dropTrip,
                                endTripStopRef: dropStopRef
                            }).then((response) => {
                                this.$uiv_notify({
                                    title: 'ETG-Simulator',
                                    content: 'Merge trip ' + dragTrip + ' and ' + dropTrip + "at " + dragStopRef,
                                    customClass:'show'
                                });
                                this.clearChart();
                                this.loadMarkLine();
                            });
                        });
                    });
                }
            }
        }
    }

</script>
<style>
    .etg-echarts {
        height: 800px;
        width: 100%;
    }
</style>