<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{trip}} Details</h5>
            <div class="card-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-6">
                    <chart :options="startConfig()" ref="etg" :watchShallow="true" style="height: 800px; width: 100%"></chart>
                </div>
                <div class="col-sm-6">
                    <trip-platform-details-list :tripId="tripId"></trip-platform-details-list>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row margin">
                <div class="col-sm-12">
                    <trip-control-panel :tripId="tripId" :trip="trip"></trip-control-panel>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {generateEtgConfig, generateETGMarkLineConfig, generatePTSeries, generateTripSeries, getTripFromTripID} from '../../etgConfig.js'
    import TripPlatformDetailsList from "./trip/TripPlatformDetails.vue";
    import TripControlPanel from "./trip/TripControlPanel.vue";
    const axios = require('axios');
    const moment = require('moment');

    export default {
        components: {
            TripControlPanel,
            TripPlatformDetailsList},
        name: 'etgTrip',
        props:['tripId'],
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                appendETGData:{},
                currentIndexMap:{}
            }
        },
        watch: {
            tripId: function (val, oldVal) {
                console.log("border changed...");
                this.selectedSector = 0;
                this.initChart();
            }
        },
        computed: {
            trip: function () {
                return getTripFromTripID(this.tripId);
            }
        },
        mounted () {
            console.log('chart mount...');
            this.loadMarkLine();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        methods: {
            initChart() {
                this.clearChart();
                this.loadMarkLine();
            },
            clearChart() {
                let etg = this.$refs.etg;
                etg.clear();
                etg.mergeOptions(this.startConfig(), true);
            },
            startConfig() {
                return generateEtgConfig(this.borderId, '');
            },
            formatTime(timestamp){
                return moment(timestamp).format('HH:mm:ss');
            },
            switchSector(index, e) {
                e.stopPropagation();
                this.selectedSector = index;
                this.clearChart();
                this.loadMarkLine();
            },
            startRefresh () {
                // startup
                //load previous data
                this.refreshVM(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshVM(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*10);
            },
            refreshVM (startTime, endTime) {
                // load related data
                axios.get("/api/v1/etg/vm/trip/" + this.tripId, {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if (response.data.length > 0) {
                        let appendData = {};
                        response.data.forEach(dto => {
                            let seriesIndex = this.findIndexByName(dto.tripId +'-' + dto.index);
                            if(seriesIndex > 0) {
                                appendData[seriesIndex] = dto.calls;
                            } else {
                                //console.log("can not find: " + dto.tripId);
                            }
                        });
                        // start append data into chart
                        // update chart
                        this.appendVMData(appendData);
                    }
                });

            },
            loadMarkLine (callback) {
                let etg = this.$refs.etg;
                etg.showLoading({
                    text: 'Loading Train Actual...',
                    color: '#4ea397',
                    maskColor: 'rgba(255, 255, 255, 0.4)'
                });
                etg.chart.getZr().on('click', function(e){
                    // this function only handle line click
                    if(e.target === undefined && e.topTarget !== undefined) {
                        if(e.topTarget.parent!==undefined
                            && e.topTarget.parent.parent !== undefined
                            && e.topTarget.parent.parent.__ecComponentInfo !== undefined) {
                            let index = e.topTarget.parent.parent.__ecComponentInfo.index;
                            etg.dispatchAction({
                                type: 'showTip',
                                seriesIndex: index,
                                dataIndex: 1
                            });
                        } else {

                        }
                    } else {

                    }
                });
                axios.get('/api/v1/etg/markline/trip/' + this.tripId)
                    .then((response) => {
                        let newOptions = generateETGMarkLineConfig(
                            this.startConfig(),
                            [response.data.lines[0]], true);
                        let etg = this.$refs.etg;
                        etg.mergeOptions(newOptions);
                        this.loadTimeTable();
                    });
            },
            loadTimeTable () {
                let etg = this.$refs.etg;
                let pointCount = 0;
                axios.get('/api/v1/etg/relatedTrips/' + this.tripId)
                    .then((response) => {
                        let groupedByIndex = groupBy(response.data, 'index');
                        let ptSeries = [];
                        let tripSeries = [];
                        for (var index in groupedByIndex) {
                            if (groupedByIndex.hasOwnProperty(index)) {
                                let ptList= groupedByIndex[index].filter(t => t.calls.length > 2)
                                    .map(trip => {
                                        pointCount += trip.calls.length;
                                        return generatePTSeries(0, trip.tripId, trip.trip, trip.calls, this.trip, trip.isChanged);
                                    });
                                let tripList = groupedByIndex[index].filter(t => t.calls.length > 2)
                                    .map(trip => {
                                        return generateTripSeries(0, trip.tripId, trip.trip, trip.calls);
                                    });
                                ptSeries = ptSeries.concat(ptList);
                                tripSeries = tripSeries.concat(tripList)
                            }
                        }
                        //console.log(etg.computedOptions);
                        etg.mergeOptions({
                            series:this.$refs.etg.computedOptions.series.concat(ptSeries).concat(tripSeries)
                        });
                        etg.hideLoading();
                        //console.log("series count: " + this.$refs.etg.computedOptions.series.length);
                        //console.log("point count: " + pointCount);

                        this.startRefresh();
                    });
            },
            appendVMData(appendETGData) {
                let etg = this.$refs.etg;
                for (var key in appendETGData) {
                    if (appendETGData.hasOwnProperty(key)) {
                        etg.appendData({
                            seriesIndex: key,
                            data:appendETGData[key]
                        });
                    }
                }
            },
            findIndexByName(name) {
                let etg = this.$refs.etg;
                if(this.currentIndexMap[name] === undefined) {
                    let index = this.$refs.etg.computedOptions.series.findIndex(function(e){
                        return e.name === name;
                    });
                    this.currentIndexMap[name] = index;
                    return index;
                } else {
                    return this.currentIndexMap[name];
                }
            }
        }
    }



    function groupBy(objectArray, property) {
        return objectArray.reduce(function (acc, obj) {
            var key = obj[property];
            if (!acc[key]) {
                acc[key] = [];
            }
            acc[key].push(obj);
            return acc;
        }, {});
    }

</script>
<style>

</style>