<template>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-danger" @click="blockNode(stopRef)">Block Node</button>
        </div>
        <!-- /btn-group -->
        <input type="text" class="form-control" v-model="stopRef">
    </div>
</template>
<script>
    const axios = require('axios');

    export default {
        name: 'blockNodePanel',
        data: function(){
          return {
              stopRef: ''
          }
        },
        methods:{
            blockNode(stopRef){
                axios.post("/api/v1/simulator/cmd/blockNode", {
                    group: "etg",
                    stopRef: stopRef
                }).then(response => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'Node ' + stopRef + ' has been blocked.',
                        customClass:'show'
                    });
                });
            }
        }
    }
</script>