<template>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-success" @click="blockNode(stopRef)">Release Node</button>
        </div>
        <!-- /btn-group -->
        <input type="text" class="form-control" v-model="stopRef">
    </div>
</template>
<script>
    const axios = require('axios');

    export default {
        name: 'releaseNodePanel',
        data: function(){
            return {
                stopRef: ''
            }
        },
        methods:{
            blockNode(stopRef){
                axios.post("/api/v1/simulator/cmd/releaseNode", {
                    group: "etg",
                    stopRef: stopRef
                }).then(response => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'Node ' + stopRef + ' has been released.',
                        customClass:'show'
                    });
                });
            }
        }
    }
</script>