<template>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="button" class="btn btn-success" @click="releaseAllNodes()">Release All Nodes</button>
        </div>
        <!-- /btn-group -->
        <input type="text" class="form-control" v-model="stopRef">
    </div>
</template>
<script>
    const axios = require('axios');

    export default {
        name: 'releaseAllNodesPanel',
        data: function(){
            return {
                stopRef: ''
            }
        },
        methods:{
            releaseAllNodes(){
                axios.post("/api/v1/simulator/cmd/releaseAllNodes", {
                    group: "etg",
                    stopRef: ''
                }).then(response => {
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'All blocked nodes has been released. ',
                        customClass:'show'
                    });
                });
            }
        }
    }
</script>