<template>
    <div class="card" :class="{'panel-fullscreen':isFullScreen}">
        <div class="card-header">
            <h5 class="card-title">Sydney Train</h5>
            <div class="card-tools">
                <div class="btn-group">
                    <a href="javascript:" class="btn btn-tool btn-sm">
                        <i class="fa" :class="{'fa-window-maximize':!isFullScreen, 'fa-window-restore':isFullScreen}" @click="fullScreenHandler"></i>
                    </a>
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">
                        <!--<a href="javascript:" class="dropdown-item" v-for="item in sectors" @click="switchSector(item.index)">-->
                        <!--{{item.name}}-->
                        <!--</a>-->
                        <a href="javascript:" class="dropdown-item" @click="loadMap()">
                            test
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="height: 100%">
            <div class="row" style="height: 100%">
                <div class="col-sm-12" ref="chartContainer">
                    <!--<chart ref="etg" :options="initOption" style="height: 800px; width: 100%" ></chart>-->
                    <div ref="network3d" id="network3d" :style="{width: '100%', 'min-height':'800px'}"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {network3dInitConfig, generateVMNetwork3d, generateStopRefLayer} from '../../network3dConfig.js'
    const axios = require('axios');
    const moment = require('moment');
    let network3d = {};

    export default {
        name: 'etgNetwork3d',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                nodeMap:[],
                platformLabel:[],
                zoom:5,
                isFullScreen:false
            }
        },
        watch: {
        },
        mounted () {
            console.log('chart mount...');
            this.loadNodes();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        methods: {
            fullScreenHandler(){
                this.isFullScreen = !this.isFullScreen;
                setTimeout(() => {
                    let height = this.$refs.chartContainer.clientHeight;
                    console.log("height is " + height);
                    network3d.resize({
                        height: height
                    });
                }, 1000);

            },
            clearChart() {
                let etg = this.$refs.etg;
                etg.clear();
            },
            startConfig() {
                return network3dInitConfig();
            },
            loadMap(stopRefs){
                let self = this;
                let stopRefLayer = generateStopRefLayer(stopRefs);
                let map = network3d.getModel().getComponent('mapbox3D').getMapbox();
                map.on('load', function() {
                    map.addLayer(stopRefLayer);
                    // Insert the layer beneath any symbol layer.
                    var layers = map.getStyle().layers;
                    var labelLayerId;
                    for (var i = 0; i < layers.length; i++) {
                        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                            labelLayerId = layers[i].id;
                            break;
                        }
                    }

                    map.addLayer({
                        'id': '3d-buildings',
                        'source': 'composite',
                        'source-layer': 'building',
                        'filter': ['==', 'extrude', 'true'],
                        'type': 'fill-extrusion',
                        'minzoom': 15,
                        'paint': {
                            'fill-extrusion-color': '#fff',

                            // use an 'interpolate' expression to add a smooth transition effect to the
                            // buildings as the user zooms in
                            'fill-extrusion-height': [
                                "interpolate", ["linear"],
                                ["zoom"],
                                15, 0,
                                15.05, ["get", "height"]
                            ],
                            'fill-extrusion-base': [
                                "interpolate", ["linear"],
                                ["zoom"],
                                15, 0,
                                15.05, ["get", "min_height"]
                            ],
                            'fill-extrusion-opacity': .6
                        }
                    }, labelLayerId);

                    mapboxgl.setRTLTextPlugin('https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-rtl-text/v0.1.0/mapbox-gl-rtl-text.js');

                    map.addControl(new mapboxgl.NavigationControl());
                });
                map.on('zoomend', e => {
                    if(map.getZoom() > 14) {
                        map.setLayoutProperty('stopRef', 'visibility', 'visible');
                    } else {
                        map.setLayoutProperty('stopRef', 'visibility', 'none');
                    }

                    self.zoom = map.getZoom();
                });
                // Change the cursor to a pointer when the mouse is over the places layer.
                map.on('mouseenter', 'stopRef', function (e) {
                    map.getCanvas().style.cursor = 'pointer';
                });

                // Change it back to a pointer when it leaves.
                map.on('mouseleave', 'stopRef', function () {
                    map.getCanvas().style.cursor = '';
                });
            },
            loadNodes() {
                let myChart = this.$ncharts.init(document.getElementById('network3d'));
                myChart.setOption(this.startConfig());
                network3d = myChart;

                axios.get('/api/v1/geo/node ').then((response) =>{
                    let stopRefs = response.data;
                    this.loadMap(stopRefs);
                });

                this.startRefresh();

            },
            startRefresh () {
                // startup
                //load previous data
                this.refreshVM(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay) {
                        this.refreshVM(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*10);
            },
            refreshVM (startTime, endTime) {
                let etg = this.$refs.etg;
                // load related data
                axios.get('/api/v1/geo/vm ').then((response) =>{
                    if (response.data.length > 0) {
                        let vms = generateVMNetwork3d(response.data);
                        console.log(vms);
                        network3d.setOption({
                            series: updateSeriesData(network3d.getOption().series, 'actualMovement', vms)
                        }, false, true);
                    }
                });

            }
        }
    }

    /* the echarts 4.1.0 has a bug for update map data, so we have to update all series*/
    function updateSeriesData(series, name, data) {
        let index = series.findIndex(function(e){
            return e.name === name;
        });
        series[index].data = data;
        return series
    }

    function updateNodeLabel(series, name, isShow) {
        let index = series.findIndex(function(e){
            return e.name === name;
        });
        if(index < 0) {
            console.log("can not find " + name);
        }
        series[index].label.show = isShow;
        return series;
    }
</script>
<style>
    .network-echarts {
        height: 800px;
        width: 100%;
    }
</style>