<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Sydney Train</h5>
            <div class="card-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">
                        <!--<a href="javascript:" class="dropdown-item" v-for="item in sectors" @click="switchSector(item.index)">-->
                            <!--{{item.name}}-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-12">
                    <chart ref="etg" :watchShallow="true" style="height: 800px; width: 100%" :manualUpdate="true" :autoResize="true"></chart>
                    <!--<div id="echarts" class="echarts" style="height: 800px; width: 100%"></div>-->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {getNetworkChartConfig, convertToNetworkLink, generateVMNetwork, generateConflictNodes, generateBlockNodes} from '../../networkConfig.js'
    const axios = require('axios');
    const moment = require('moment');

    export default {
        name: 'etgNetwork',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                nodeMap:[],
                platformLabel:[],
                zoom:5
            }
        },
        watch: {
        },
        mounted () {
            console.log('chart mount...');
            this.loadNodes();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        methods: {
            clearChart() {
                let etg = this.$refs.etg;
                etg.clear();
            },
            startConfig() {
                return getNetworkChartConfig();
            },
            loadNodes() {
                let etg = this.$refs.etg;
                etg.mergeOptions(this.startConfig());
                etg.chart.on("geoRoam", function(prm){
                    if(prm.zoom !== undefined) {
                        if(etg.computedOptions.geo[0].zoom > 5 && this.zoom<=5) {
                            // show label
                            etg.chart.setOption({
                                series: updateNodeLabel(etg.computedOptions.series, 'node', true)
                            });
                        } else if(etg.computedOptions.geo[0].zoom <5 && this.zoom > 5) {
                            etg.chart.setOption({
                                series: updateNodeLabel(etg.computedOptions.series, 'node', false)
                            });
                        }
                        this.zoom = etg.computedOptions.geo[0].zoom;
                    }

                });
                etg.showLoading({
                    text: 'Loading Network...',
                    color: '#4ea397',
                    maskColor: 'rgba(255, 255, 255, 0.4)'
                });
                let nodeList = [];
                let junctionNodeList = [];
                axios.get('/api/v1/network/node')
                    .then((response) => {
                        let nodes = response.data;
                        let nodeLen = nodes.length;
                        for(let i=0; i<nodeLen; i++) {
                            let item = {
                                name: nodes[i].shortName,
                                value: [nodes[i].locX, nodes[i].locY, nodes[i].longName]
                            };
                            if (!nodes[i].isJunction) {
                                nodeList.push(item);
                            } else {
                                junctionNodeList.push(item);
                            }
                            this.nodeMap[nodes[i].shortName] = item
                        }
                        // load platform labels
                        axios.get('/api/v1/network/platform')
                            .then((response) => {
                                // load links
                                let platforms = response.data.map(item => {
                                    return {
                                        name: item.shortName,
                                        value: [item.locX, item.locY, item.longName],
                                        label: {
                                            formatter: item.longName,
                                            show: true,
                                            fontSize: 12,
                                            rotate: item.rotate
                                        },
                                    };
                                });

                                axios.get('/api/v1/network/link')
                                    .then((response) => {
                                        let linkList = convertToNetworkLink(response.data);
                                        etg.mergeOptions({
                                            series: [{
                                                    name: 'node',
                                                    data: nodeList
                                                },
                                                {
                                                    name: 'platformLabel',
                                                    data: platforms
                                                },
                                                {
                                                    name: 'junctionNode',
                                                    data: junctionNodeList
                                                },
                                                {
                                                    name: 'link',
                                                    data: linkList
                                                }]
                                        });
                                        etg.hideLoading();
                                        this.startRefresh()
                                    });
                            });

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            startRefresh () {
                // startup
                //load previous data
                this.refreshVM(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay) {
                        this.refreshVM(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*10);
            },
            refreshVM (startTime, endTime) {
                let etg = this.$refs.etg;
                // load related data
                axios.get("/api/v1/network/vm").then((response) => {
                    if (response.data.length > 0) {
                        let links = [];
                        response.data.forEach(item => {
                            links = links.concat(generateVMNetwork(item));
                        });
                        etg.mergeOptions({
                            series: updateSeriesData(etg.computedOptions.series, 'actualMovement', links)
                        }, false, true);
                    }
                });

                axios.get("/api/v1/simulator/conflict").then((response) => {
                    let conflictData = response.data;
                    let seriesData = updateSeriesData(etg.computedOptions.series, 'conflictNode', generateConflictNodes(conflictData));
                    axios.get("/api/v1/network/blocknodes").then((response) => {
                        let blockNodes = response.data;
                        etg.mergeOptions({
                            series: updateSeriesData(seriesData, 'blockedNode', generateBlockNodes(blockNodes))
                        }, false, true);
                    });
                });
            }
        }
    }

    /* the echarts 4.1.0 has a bug for update map data, so we have to update all series*/
    function updateSeriesData(series, name, data) {
        let index = series.findIndex(function(e){
            return e.name === name;
        });
        if(name === 'blockedNode') {
            console.log('find block node: ' + index);
            console.log(data);
        }
        if (data !== undefined && data.length > 0) {
            series[index].data = data;
        }
        return series
    }

    function updateNodeLabel(series, name, isShow) {
        let index = series.findIndex(function(e){
            return e.name === name;
        });
        series[index].label.show = isShow;
        return series;
    }
</script>
<style>
    .network-echarts {
        height: 800px;
        width: 100%;
    }
</style>