<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Sydney Train</h5>
            <div class="card-tools">
                <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">
                        <!--<a href="javascript:" class="dropdown-item" v-for="item in sectors" @click="switchSector(item.index)">-->
                        <!--{{item.name}}-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-12">
                    <chart ref="etg" :watchShallow="true" style="height: 800px; width: 100%" :manualUpdate="true" :autoResize="true"></chart>
                    <!--<div id="echarts" class="echarts" style="height: 800px; width: 100%"></div>-->
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row margin">
                <div class="col-sm-12">
                    <div style="width:100%" class="text-center">
                        <a class="btn btn-app" v-on:click="updateTrip(tripId)">
                            <i class="fa fa-check-square-o"></i> Update Trip
                        </a>
                        <a class="btn btn-app" @click="cancelChange">
                            <i class="fa fa-minus-square-o"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {getNetworkChartConfig, convertToNetworkLink, generateVMNetwork} from '../../networkConfig.js'
    import {generatePathData, initPathPlanControl, updateControlPosition} from '../../pathPlanConfig.js'
    import {updateSeriesData, findSeriesIndexByName, updateNodeLabel} from '../../utils.js'
    const axios = require('axios');
    const moment = require('moment');

    export default {
        name: 'etgPathPlan',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                nodeMap:[],
                platformLabel:[],
                tripPathData:[],
                zoom:5,
                mouseOverTripNode:{}
            }
        },
        props:['tripId'],
        watch: {
        },
        mounted () {
            console.log('chart mount...');
            this.loadNodes();
        },
        beforeDestroy () {
            clearInterval(this.intervalId);
            console.log('chart destroy...');
        },
        methods: {
            clearChart() {
                let etg = this.$refs.etg;
                etg.clear();
            },
            startConfig() {
                return getNetworkChartConfig(this.showTripNodeTip);
            },
            loadNodes() {
                let etg = this.$refs.etg;
                etg.mergeOptions(this.startConfig());
                let highlightSeriesIndex = findSeriesIndexByName(etg.computedOptions.series, 'highlightlink');
                etg.chart.on("geoRoam", function(prm){
                    if(prm.zoom !== undefined) {
                        if(etg.computedOptions.geo[0].zoom > 5 && this.zoom<=5) {
                            // show label
                            etg.chart.setOption({
                                series: updateNodeLabel(etg.computedOptions.series, 'node', true)
                            });
                        } else if(etg.computedOptions.geo[0].zoom <5 && this.zoom > 5) {
                            etg.chart.setOption({
                                series: updateNodeLabel(etg.computedOptions.series, 'node', false)
                            });
                        }
                        this.zoom = etg.computedOptions.geo[0].zoom;
                    }
                    updateControlPosition(etg.chart, highlightSeriesIndex)
                });
                etg.showLoading({
                    text: 'Loading Network...',
                    color: '#4ea397',
                    maskColor: 'rgba(255, 255, 255, 0.4)'
                });
                let nodeList = [];
                let junctionNodeList = [];
                axios.get('/api/v1/network/node')
                    .then((response) => {
                        let nodes = response.data;
                        let nodeLen = nodes.length;
                        for(let i=0; i<nodeLen; i++) {
                            let item = {
                                name: nodes[i].shortName,
                                value: [nodes[i].locX, nodes[i].locY, nodes[i].longName]
                            };
                            if (!nodes[i].isJunction) {
                                nodeList.push(item);
                            } else {
                                junctionNodeList.push(item);
                            }
                            this.nodeMap[nodes[i].shortName] = item
                        }
                        // load platform labels
                        axios.get('/api/v1/network/platform')
                            .then((response) => {
                                // load links
                                let platforms = response.data.map(item => {
                                    return {
                                        name: item.shortName,
                                        value: [item.locX, item.locY, item.longName],
                                        label: {
                                            formatter: item.longName,
                                            show: true,
                                            fontSize: 12,
                                            rotate: item.rotate
                                        },
                                    };
                                });

                                axios.get('/api/v1/network/link')
                                    .then((response) => {
                                        let linkList = convertToNetworkLink(response.data);
                                        etg.mergeOptions({
                                            series: [{
                                                name: 'node',
                                                data: nodeList
                                            },
                                                {
                                                    name: 'platformLabel',
                                                    data: platforms
                                                },
                                                {
                                                    name: 'junctionNode',
                                                    data: junctionNodeList
                                                },
                                                {
                                                    name: 'link',
                                                    data: linkList
                                                }]
                                        });
                                        etg.hideLoading();
                                        this.loadPath()
                                    });
                            });

                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            loadPath(){
                axios.get("/api/v1/network/path/trip/"+this.tripId).then((response) => {
                    if(response.data !== undefined) {
                        this.tripPathData = response.data;
                        this.renderControlPoints();
                    }
                });
            },
            onDropEnd(draggedStopRef, droppedStopRef) {
                console.log("drop on " + droppedStopRef);
                axios.get("/api/v1/network/path/reRoute/trip", {
                    params: {
                        tripId: this.tripId,
                        oldStartNodeId:draggedStopRef,
                        nextNodeId:droppedStopRef,
                        endNodeId:this.tripPathData[this.tripPathData.length - 1].stopRef
                    }
                }).then((response) => {
                    if(response.data !== undefined) {
                        // change the path data
                        this.tripPathData = response.data;
                        this.renderControlPoints()
                    }
                });
            },
            renderControlPoints(){
                let etg = this.$refs.etg;
                let pathData = generatePathData(this.tripPathData);
                etg.mergeOptions({
                    series: updateSeriesData(etg.computedOptions.series, 'highlightlink', [pathData])
                });
                let seriesIndex = findSeriesIndexByName(etg.computedOptions.series, 'highlightlink');
                // load control node
                initPathPlanControl(etg.chart, this.tripPathData, seriesIndex,()=>{return false;},this.onDropEnd, this.updateMouseOverTripNode);
            },
            showTripNodeTip(){
                if(this.mouseOverTripNode.id !== undefined){
                    console.log(this.mouseOverTripNode);
                    return this.mouseOverTripNode.item;
                }
                else
                    return null;
            },
            updateMouseOverTripNode(nodeInfo){
                this.mouseOverTripNode = nodeInfo;
            },
            updateTrip(tripId){
                let newPlan = this.tripPathData.filter(item => !item.isVertical).map(dto => {
                   return {
                       a: dto.arrivalToNode,
                       d: dto.departureFromNode,
                       s: dto.stopRef
                   }
                });
                axios.post("/api/v1/simulator/cmd/updateTrip", {
                    group: "etg",
                    tripId: tripId,
                    stopRef: "",
                    calls: newPlan
                }).then((response) => {

                });
            },
            cancelChange(){
                this.mouseOverTripNode = {};
                this.loadPath();
            }
        }
    }

</script>
<style>
    .network-echarts {
        height: 800px;
        width: 100%;
    }
</style>