<template>
    <div class="info-box" v-bind:class="backgroundClass">
        <span class="info-box-icon">{{title}}</span>

        <div class="info-box-content">
            <span class="info-box-number">{{totalMessageCount}}</span>

            <div class="progress">
                <div class="progress-bar" v-bind:style="{width: percent+'%'}"></div>
            </div>
            <span class="progress-description">
                  {{percent}}%
                </span>
        </div>
        <!-- /.info-box-content -->
    </div>
</template>
<script>
    export default {
        name: 'channelStatusWidget',
        props:['channelType', 'title'],
        data(){
            return {
                shareState: this.$root.$data.state
            }
        },
        computed: {
            isLoad: function () {
                return this.$root.$data.state.channelConfig[this.channelType].isLoad;
            },
            backgroundClass: function () {
                return {
                    'bg-info': this.isLoad,
                    'bg-gray': !this.isLoad
                }
            },
            totalMessageCount: function () {
                return this.shareState.channelConfig[this.channelType].totalCount;
            },
            sentMessageCount: function () {
                return this.shareState.channelStatus[this.channelType].sentCount;
            },
            percent: function () {
                if (this.totalMessageCount > 0) {
                    return ((this.sentMessageCount/this.totalMessageCount) *100).toFixed(2);
                }
                return 0;
            }
        }
    }
</script>