<template>
    <div class="info-box" v-bind:class="backgroundClass">
        <span class="info-box-icon">{{title}}</span>

        <div class="info-box-content">
            <div class="info-box-content">
                <span class="info-box-text">Last Request</span>
                <span class="info-box-number">{{lastRequestTime}}</span>
                <span class="info-box-text">Request Date</span>
                <span class="info-box-number">{{requestDate}}</span>
            </div>
        </div>
        <span class="info-box-icon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
        <!-- /.info-box-content -->
    </div>
</template>
<script>
    export default {
        name: 'channelRequestStatusWidget',
        props:['channelType', 'title'],
        data(){
            return {
                shareState: this.$root.$data.state
            }
        },
        computed: {
            isLoad: function () {
                return this.shareState.channelConfig[this.channelType].isLoad;
            },
            backgroundClass: function () {
                return {
                    'bg-success': this.isLoad,
                    'bg-gray': !this.isLoad
                }
            },
            lastRequestTime: function () {
                if (this.shareState.channelStatus[this.channelType].lastRequestTime === null) {
                    return 'NAN';
                } else {
                    return this.shareState.channelStatus[this.channelType].lastRequestTime.format('YYYY-MM-DD');
                }

            },
            requestDate: function () {
                if (this.shareState.channelStatus[this.channelType].requestDate === null) {
                    return 'NAN';
                } else {
                    return this.shareState.channelStatus[this.channelType].requestDate;
                }
            }
        }
    }
</script>