<template>
    <div class="info-box">
        <span class="info-box-icon elevation-1" v-bind:class="backgroundClass"><i class="fa fa-gear"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">{{title}}</span>
            <span class="info-box-number">
                  {{description}}
                </span>
        </div>
        <!-- /.info-box-content -->
    </div>
</template>
<script>
    export default {
        name: 'simulatorChannel',
        props:{'channelName':String, 'title':String, 'channelStatus':Boolean},
        data(){
            return {
                shareState: this.$root.$data.state
            }
        },
        computed: {
            description: function () {
                if(this.channelStatus) {
                    return 'Running';
                } else {
                    return 'Disabled';
                }
            },
            backgroundClass: function () {
                return {
                    'bg-info': this.channelStatus,
                    'bg-gray': !this.channelStatus,
                }
            }
        }
    }
</script>