<template>
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">{{cardheader}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal">
            <div class="card-body">
                <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                    {{title}}
                </h4>
                <p>{{description}}</p>
                <p v-if="requestQueue"><b>Request Queue:</b> {{requestQueue}}</p>
                <p v-if="responseQueue"><b>Response Queue:</b> {{responseQueue}}</p>
                <div style="border-top: 1px solid #adb5bd;"></div>
                <br/>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="selectVMDataSet" class="col-sm-2 control-label">Select DataSet</label>
                            <div class="col-sm-10">
                                <select id="selectVMDataSet" class="form-control" v-model="dataSetSelected" v-on:change="showDataSetDetail(dataSetSelected)" :disabled="isLoading || isLoad">
                                    <option v-for="option in dataSetOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="info-box">
                            <span class="info-box-icon bg-info elevation-1"><i class="fa fa-cog fa-fw" v-bind:class="{'fa-spin': isLoad}"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">{{dataSetSelected}}</span>
                                <span class="info-box-number">
                                  {{selectedDataSetCount}}
                                  <small>Message in this Set</small>
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" class="btn btn-info" v-on:click="loadDataset" v-bind:class="{disabled: isLoad || this.isLoading}">{{buttonText}}</button>
                <button type="button" class="btn btn-default float-right" v-on:click="stopLoadDataset">Stop</button>
            </div>
            <!-- /.card-footer -->
        </form>
    </div>
</template>
<script>
    const axios = require('axios');
    export default {
        name: 'channelConfigSection',
        data: function() {
            return {
                dataSetConfig: {},
                channelStatus:{},
                dataSetSelected: '',
                dataSetOptions: [],
                selectedDataSetCount: 0,
                isLoading:false
            }

        },
        props: ['datasetType', 'cardheader', 'title', 'description', 'requestQueue', 'responseQueue'],
        mounted(){
            this.fetchDataset(this.datasetType);
            this.dataSetConfig = this.$root.$data.state.channelConfig[this.datasetType];
            this.dataSetSelected = this.dataSetConfig.dataSetName;
        },
        computed: {
            isLoad: function() {
                return this.dataSetConfig.isLoad;
            },
            buttonText(){
                if(this.isLoading) {
                    return "Loading...";
                } else {
                    return "Select";
                }
            }
        },
        methods: {
            showDataSetDetail: function (name) {
                this.dataSetConfig.dataSetName = name;
                let selectedDataSet = this.dataSetOptions.find(el => {
                    return el.value === name;
                });
                this.selectedDataSetCount = selectedDataSet.count;
                this.dataSetConfig.totalCount = this.selectedDataSetCount;
            },
            fetchDataset: function (type) {
                this.isLoading = true;
                axios.get("/api/v1/" + type +"/dataset")
                    .then((response) => {
                        this.dataSetOptions = response.data.map((val, index, arr) => {
                            return {
                                text: val.name,
                                value: val.name,
                                count: val.count
                            };
                        });
                        if(this.$root.$data.state.channelConfig[this.datasetType].dataSetName !== '') {
                            this.dataSetSelected = this.dataSetConfig.dataSetName;
                            this.showDataSetDetail(this.dataSetSelected);
                        }
                        this.isLoading = false;
                    })
                    .catch((error) => {
                        // handle error
                        console.log(error);
                    });
            },
            loadDataset: function (event) {
                if (!this.isLoading) {
                    this.isLoading = true;
                    axios.post("api/v1/" + this.datasetType + "/dataset", {
                        "dataSetName": this.dataSetSelected,
                        "isLoad": true,
                        "totalCount": this.selectedDataSetCount,
                        "sentCount": 0
                    }).then((response) => {
                        this.dataSetConfig.isLoad = true;
                        this.isLoading = false;
                        this.$uiv_notify({
                            title: 'ETG-Simulator',
                            content: 'DataSet has been load.',
                            customClass: 'show'
                        }).then(() => {
                            // resolve after dismissed
                        });
                    }).catch((error) => {
                        // handle error
                        console.log(error);
                    });
                }

            },
            stopLoadDataset: function (event) {
                axios.post("api/v1/"+this.datasetType+"/dataset", {
                    "dataSetName" : this.dataSetSelected,
                    "isLoad": false,
                    "totalCount":0,
                    "sentCount":0
                }).then((response) => {
                    this.dataSetConfig.isLoad = false;
                    this.$uiv_notify({
                        title: 'ETG-Simulator',
                        content: 'DataSet has been release.',
                        customClass:'show'
                    })
                }).catch((error) => {
                    // handle error
                    console.log(error);
                });
            }
        }
    }
</script>