<template>
    <div class="row margin">
        <div class="col-sm-12">
            <p class="text-center"><span class="lead" style="font-size: 3rem">{{ playStatus }} <small class="text-muted" style="font-size: 1rem">{{speed}}x</small></span></p>
        </div>
        <div class="col-sm-12">
            <h4>Running Time:</h4>
            <count-timer :showTime="playTime"></count-timer>
        </div>
        <div class="col-sm-12">
            <h4>Real Time:</h4>
            <!--<p>{{currentTime.format('HH')}}</p>-->
            <count-timer :showTime="currentTime"></count-timer>
        </div>
    </div>
</template>
<script>
    import CountTimer from "./counttime.vue";
    const moment = require('moment');
    export default {
        components: {CountTimer},
        name: 'countClock',
        data(){
            return {
                currentTime:moment(),
                shareState: this.$root.$data.state
            }
        },
        mounted(){
            this.startInterval();
        },
        computed: {
            playTime: function () {
                return this.shareState.playTime;
            },
            playStatus: function () {
                return this.shareState.playStatus.toUpperCase();
            },
            speed: function () {
                return this.shareState.speed;
            },
            isLoad: function () {
                return this.shareState.channelConfig[this.channelType].isLoad;
            }
        },
        methods: {
            startInterval: function () {
                setInterval(() => {
                    this.currentTime = moment();
                }, 1000);
            }
        }
    }
</script>