<template>
    <p class="text-center" >
        <span class="text-info lead" style="font-size: 2rem">{{hour}}</span><span class="text-muted" style="font-size: 1rem">:</span>
        <span class="text-info lead" style="font-size: 2rem">{{minute}}</span><span class="text-muted" style="font-size: 1rem">:</span>
        <span class="text-info lead" style="font-size: 2rem">{{second}}</span>
    </p>
</template>
<script>
    export default {
        name: 'countTimer',
        props: ['showTime'],
        computed: {
            hour: function () {
                return this.showTime.format('HH');
            },
            minute: function () {
                return this.showTime.format('mm');
            },
            second: function () {
                return this.showTime.format('ss');
            }
        }
    }
</script>