<template>
    <form role="form">
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="form-group">
                    <label for="startDate" class="col-sm-6 control-label">Select Start Date:</label>

                    <div class="col-sm-12">
                        <drop-down-container class="form-group" :disabled="isChangeable">
                            <div class="input-group">
                                <input class="form-control" type="text" v-model="startDate" id="startDate">
                                <div class="input-group-btn">
                                    <uiv-btn class="dropdown-toggle"><i class="fa fa-calendar"></i></uiv-btn>
                                </div>
                            </div>
                            <template slot="dropdown">
                                <li>
                                    <uiv-date-picker v-model="startDate" format="yyyy-MM-dd" iconControlLeft="fa fa-arrow-left" iconControlRight="fa fa-arrow-right"/>
                                </li>
                            </template>
                        </drop-down-container>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <div class="form-group">
                    <label class="col-sm-6">&nbsp</label>
                    <label class="col-sm-12" style="text-align: center">TO</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="form-group">
                    <label for="endDate" class="col-sm-6 control-label">Select End Date:</label>

                    <div class="col-sm-12">
                        <dropdown class="form-group" :disabled="isChangeable">
                            <div class="input-group">
                                <input class="form-control" type="text" v-model="endDate" id="endDate">
                                <div class="input-group-btn">
                                    <uiv-btn class="dropdown-toggle"><i class="fa fa-calendar"></i></uiv-btn>
                                </div>
                            </div>
                            <template slot="dropdown">
                                <li>
                                    <uiv-date-picker v-model="endDate" format="yyyy-MM-dd" iconControlLeft="fa fa-arrow-left" iconControlRight="fa fa-arrow-right"/>
                                </li>
                            </template>
                        </dropdown>
                    </div>
                </div>
            </div>
        </div>


    </form>
</template>
<script>
    const moment = require('moment');
    export default {
        components: {},
        name: "dateRangeSelect",
        data () {
            return {

            }
        },
        mounted(){
            this.startDate = this.$root.$data.state.startDate.format('YYYY-MM-DD');
            this.endDate = this.$root.$data.state.endDate.format('YYYY-MM-DD');
        },
        computed: {
            startDate: {
                get: function () {
                    return this.$root.$data.state.startDate.format('YYYY-MM-DD');
                },
                set: function (newValue) {
                    this.$root.$data.state.startDate = moment(newValue);
                }

            },
            endDate: {
                get: function () {
                    return this.$root.$data.state.endDate.format('YYYY-MM-DD');
                },
                set: function (newValue) {
                    this.$root.$data.state.endDate = moment(newValue);
                }
            },
            isChangeable: function () {
                !this.$root.$data.state.isPlay
            }
        }
    }
</script>