<template>
    <div style="width:100%" class="text-center">
        <a class="btn btn-app" v-on:click="startPlay">
            <i class="fa fa-play" :class="playButtonClass"></i> Play
        </a>
        <!--<a class="btn btn-app" v-on:click="speedUp(2)">-->
            <!--<span class="badge bg-warning">2x</span>-->
            <!--<i class="fa fa-forward"></i> Forward-->
        <!--</a>-->
        <!--<a class="btn btn-app" v-on:click="speedUp(4)">-->
            <!--<span class="badge bg-warning" >4x</span>-->
            <!--<i class="fa fa-forward"></i> Forward-->
        <!--</a>-->
        <a class="btn btn-app" @click="stopPlay">
            <i class="fa fa-refresh"></i> Reset
        </a>
    </div>
</template>
<script>
    const axios = require('axios');
    const moment = require('moment');
    export default {
        name: 'playPanel',
        props:['playStatus'],
        data: function () {
            return {
                playButtonStatus: 'Play'
            }
        },
        watch: {
            playStatus: function (val, oldVal) {
                this.updatePlayButtonStatus(val);
            }
        },
        computed: {
            isPlay: function () {
                return this.$root.$data.state.isPlay;
            },
            playButtonClass: function () {
                return {
                    'fa-play': this.playButtonStatus === 'Play' || this.playButtonStatus === 'Stop',
                    'fa-pause': this.playButtonStatus === 'Pause'
                }
            }
        },
        methods: {
            startPlay: function (event) {
                if (this.$root.$data.state.playStatus === 'Play') {
                    // change to pause
                    this.playButtonStatus = 'Play';
                    this.$root.$data.state.playStatus = 'Pause';
                    sendChannelAction(this.generateActionData('Pause'), () => {
                        this.$uiv_notify({
                            title: 'ETG-Simulator',
                            content: 'Pause Play.',
                            customClass:'show'
                        })
                    });
                } else {
                    // play
                    sendChannelAction(this.generateActionData('Play'), () => {
                        this.$root.$data.state.isPlay = true;
                        this.$root.$data.state.playStatus = 'Play';
                        this.$root.$data.state.speed = 1;
                        this.playButtonStatus = 'Pause';
                        this.$uiv_notify({
                            title: 'ETG-Simulator',
                            content: 'Start to play.',
                            customClass:'show'
                        }).then(() => {
                            // resolve after dismissed
                        });
                    });
                }
            },
            stopPlay: function (event) {
                if (this.isPlay) {
                    sendChannelAction(this.generateActionData("Stop"), () =>{
                        this.$root.$data.state.isPlay = false;
                        this.$root.$data.state.playStatus = 'Stop';
                        this.$root.$data.state.speed = 1;
                        this.$uiv_notify({
                            title: 'ETG-Simulator',
                            content: 'Reset Play.',
                            customClass:'show'
                        })
                    });
                } else {

                }
            },
            speedUp: function (speed) {
                if (this.isPlay) {
                    this.$root.$data.state.speed = speed;
                    sendChannelAction(this.generateActionData("SpeedX"), () =>{
                        this.$uiv_notify({
                            title: 'ETG-Simulator',
                            content: 'Change speed to ' + speed + 'X.',
                            customClass:'show'
                        })
                    });
                }
            },
            generateActionData: function(actionType) {
                console.log("action: startTime: " + this.$root.$data.state.startTime);
                return {
                    actionType: actionType,
                    startTime: this.$root.$data.state.startTime,
                    endTime:this.$root.$data.state.endTime,
                    startDate: this.$root.$data.state.startDate,
                    endDate: this.$root.$data.state.endDate,
                    speed:this.$root.$data.state.speed
                }
            },
            updatePlayButtonStatus(playStatus) {
                if(playStatus === 'Play')
                    this.playButtonStatus = 'Pause';
                else
                    this.playButtonStatus = 'Play';
            }
        }
    }
    function sendChannelAction(data, callback) {
        axios.post('play', data)
            .then(function (response) {
                // handle success
                callback();
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .then(function () {
                // always executed
            });
    }
</script>