<template>
    <div class="row margin">
        <div class="col-sm-4 border-right">
            <h3 class="text-center">Running Time:</h3>
            <count-timer :showTime="playTime"></count-timer>
        </div>
        <div class="col-sm-4 border-right">
            <p class="text-center"><span class="lead" style="font-size: 4rem">{{ playStatus }}</span></p>
            <p class="text-center"><small class="text-muted" style="font-size: 2rem">{{speed}}x</small></p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-center">Real Time:</h3>
            <!--<p>{{currentTime.format('HH')}}</p>-->
            <count-timer :showTime="currentTime"></count-timer>
        </div>
    </div>
</template>
<script>
    import CountTimer from "./counttime.vue";
    const moment = require('moment');
    export default {
        components: {CountTimer},
        name: 'simulatorCountClock',
        data(){
            return {
                currentTime:moment(),
                shareState: this.$root.$data.state
            }
        },
        mounted(){
            this.startInterval();
        },
        computed: {
            playTime: function () {
                return this.shareState.playTime;
            },
            playStatus: function () {
                return this.shareState.playStatus.toUpperCase();
            },
            speed: function () {
                return this.shareState.speed;
            },
            isLoad: function () {
                return this.shareState.channelConfig[this.channelType].isLoad;
            }
        },
        methods: {
            startInterval: function () {
                setInterval(() => {
                    this.currentTime = moment();
                }, 1000);
            }
        }
    }
</script>