<template>
    <chart :options="activeOption" width="100%" ref="chart"></chart>
</template>
<script>
    const axios = require('axios');
    const moment = require('moment');
    export default {
        name: 'trainActiveChart',
        props:['playTime', 'vmDataset'],
        data(){
            return {
                movementData:[],
                shareState: this.$root.$data.state,
                currentPlayTime:playTime
            }
        },
        mounted () {
            if(this.vmDataset !== '') {
                let startDate = moment(this.vmDataset);
                if (startDate !== undefined) {
                    this.loadStatisticData(startDate);
                }
            }
        },
        watch: {
            playTime: function (val, oldVal) {
                let chart = this.$refs.chart;
                if(this.movementData !== undefined) {
                    chart.showLoading({
                        text: 'Updating...',
                        color: '#4ea397',
                        maskColor: 'rgba(255, 255, 255, 0.4)'
                    });
                    this.movementData = this.movementData.map(item => {
                        if (moment(item.value[0]).isBefore(val)) {
                            item.itemStyle = {
                                color: '#0943e5'
                            }
                        }
                        return item;
                    });

                    chart.mergeOptions({
                        series: {
                            name: 'movement',
                            data: this.movementData
                        }
                    });
                    chart.hideLoading();
                }


            },
            vmDataset: function (val, oldVal) {
                let startDate = moment(val);
                if (startDate !== undefined) {
                    this.loadStatisticData(startDate);
                }
            }
        },
        methods: {
            loadStatisticData(startDate) {
                let apiHost = "http://"+ETG.api.host+":" + ETG.api.port;
                axios.get(apiHost + "/api/v1/statistic/vm", {
                    params: {
                        startDate: startDate.startOf('day').format('YYYY-MM-DD HH:mm:ss'),
                        endDate: startDate.endOf('day').format('YYYY-MM-DD HH:mm:ss')
                    }
                }).then((response) => {
                    let chart = this.$refs.chart;
                    if (response.data !== undefined) {
                        this.movementData = response.data.map(item => {
                            return {
                                value:[item.interval, item.count],
                                itemStyle: {
                                    color: '#a4a6a8'
                                }
                            }
                        });
                        chart.mergeOptions({
                            series: {
                                name: 'movement',
                                data: this.movementData
                            }
                        });
                    }

                });
            }
        },
        data: function () {
            return {
                activeOption: {
                    title: {
                        text: 'Train Active'
                    },
                    legend: {
                        data: ['movement'],
                        align: 'left'
                    },
                    tooltip: {},
                    xAxis: {
                        type:'time'
                    },
                    yAxis: {
                    },
                    series: [{
                        name: 'movement',
                        type: 'bar',
                        data: this.movementData,
                        animationDelay: function (idx) {
                            return idx * 10 + 100;
                        }
                    }],
                    animationEasing: 'elasticOut',
                    animationDelayUpdate: function (idx) {
                        return idx * 5;
                    }
                }
            }
        }
    }
</script>
<style>
    .echarts {
        height: 300px;
        width: 100%;
    }
</style>