<template>
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Playback Control Panel</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row margin">
                <div class="col-sm-12">
                    <simulator-count-clock></simulator-count-clock>
                </div>
            </div>
            <div class="row margin">
                <div class="col-sm-12">
                    <time-selector :play-status="playStatus" :play-time="playTime"></time-selector>
                </div>
            </div>
            <div class="row margin">
                <div class="col-sm-12">
                    <!--<date-range-select></date-range-select>-->
                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="row margin">
                <div class="col-sm-12">
                    <play-panel :play-status="playStatus"></play-panel>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import TrainActiveChart from "./tainactivechart.vue";
    import PlayPanel from "./playpanel.vue";
    import CountClock from "./clock.vue";
    import DateRangeSelect from "./DateRangeSelect.vue";
    import TimeSelector from "./TimeSelector.vue";
    import SimulatorCountClock from "./SimulatorTimeStatus.vue";

    const moment = require('moment');
    export default {
        components: {
            SimulatorCountClock,
            TimeSelector,
            DateRangeSelect,
            CountClock,
            PlayPanel,
            TrainActiveChart},
        name: 'timeWindowPanel',
        data () {
            return {

            }
        },
        mounted(){

        },
        data () {
            return {
                value: 0
            }
        },
        methods: {

        },
        computed: {
            playStatus: function () {
              return this.$root.$data.state.playStatus;
            },
            playTime: function () {
                return this.$root.$data.state.playTime;
            },
            vmDataset: function () {
                return this.$root.$data.state.channelConfig.vm.dataSetName
            }
        }
    }

</script>