<template>
    <input id="range_1" type="text" name="range_1">
</template>
<script>
    import TrainActiveChart from "./tainactivechart.vue";
    import PlayPanel from "./playpanel.vue";
    import CountClock from "./clock.vue";
    import DateRangeSelect from "./DateRangeSelect.vue";

    const moment = require('moment');
    export default {
        name: 'timeSelector',
        props:['playStatus', 'playTime'],
        data () {
            return {
                $timeRange:null
            }
        },
        watch: {
            playStatus: function(val, oldVal) {
                if(this.$timeRange !== null) {
                    if(val == 'Stop') {
                        this.$timeRange.update({
                            disable: false
                        });
                    } else {
                        this.$timeRange.update({
                            disable: true
                        });
                    }
                }
            },
            playTime: function (val, oldVal) {
                this.$timeRange.update({
                    from: val.format("X")
                });
            }
        },
        mounted(){
            this.$timeRange = $('#range_1').ionRangeSlider({
                min: this.min.startOf("day").format("X"),
                max: this.max.endOf("day").format("X"),
                from: this.playTime.format("X"),
                to: this.endTo.format("X"),
                step: +moment("15", "mm").format("mm")*60,
                type: 'double',
                grid: true,
                force_edges: true,
                grid_num: 24,
                prettify: function (num) {
                    var m = moment(num, "X").locale("en");
                    return m.format("Do MMM, HH:mm");
                },
                onChange: (data) => {
                    this.updateTimeWindow(data)
                },
            }).data("ionRangeSlider");
        },
        data () {
            return {
                value: 0
            }
        },
        methods: {
            updateTimeWindow: function (data) {
                if (this.playStatus === 'Stop') {
                    let newFrom = moment.unix(data.from);
                    this.$root.$data.state.startTime = newFrom;
                    let newTo = moment.unix(data.to);
                    this.$root.$data.state.endTime = newTo;
                }

            }
        },
        computed: {
            min: function () {
                return this.$root.$data.state.startDate;
            },
            startFrom: function () {
                return this.$root.$data.state.playTime;
            },
            max: function () {
                return this.$root.$data.state.endDate;
            },
            endTo: function () {
                return this.$root.$data.state.endTime;
            }
        }
    }

</script>