<template>
    <chart :options="this.initOption" style="height: 500px; width: 100%" ref="chart" :autoResize="true"></chart>
</template>
<script>
    import {dailyRunningInitConfig} from '../../../runningstatus/dailyRunningConfig'
    const axios = require('axios');
    const moment = require('moment');
    export default {
        components: {},
        name: 'dailyRunning',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                initOption:dailyRunningInitConfig()
            }
        },
        mounted () {
            this.startRefresh()
        },
        methods: {
            startRefresh () {
                // startup
                //load previous data
                console.log(this.shareState.playTime.format());
                this.refreshData(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshData(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*60);
            },
            beforeDestroy () {
                clearInterval(this.intervalId);
            },
            refreshData(startTime, endTime){
                let statisChart = this.$refs.chart;
                if (statisChart === undefined) {
                    return;
                }
                axios.get("/api/v1/statis/perMinRunStatus", {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if(response.data !== undefined) {
                        console.log(response.data);
                        let dto = response.data;
                        let startTime = moment.unix(this.shareState.startTime).valueOf() / 1000;
                        let endTime = moment.unix(this.shareState.playTime).valueOf() / 1000;
                        console.log(startTime);
                        let vmData = dto.vmCount.filter(item => {
                            return item[0]<endTime && item[0]>startTime
                        });
                        let tripData = dto.tripCount;
//                        let tripData = dto.tripCount.filter(item => {
//                            return item[0]<endTime && item[0]>startTime
//                        });
                        statisChart.mergeOptions({
                            series:[
                                {
                                    name: 'Train Actual',
                                    data:vmData,
                                    markArea: {
                                        data: [[{
                                            xAxis: startTime
                                        }, {
                                            xAxis: endTime
                                        }]]
                                    },
                                },{
                                    name: 'Trips',
                                    data:tripData
                                }
                            ]
                        });

                    }
                });
            }
        }
    }
</script>