<template>
    <table class="table table-striped table-valign-middle delay-trip-list">
        <thead>
        <tr>
            <th>Trip</th>
            <th>Delay</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in tripList">
            <td>
                <template v-if="(item.delay>= 180 && item.delay<360)">
                    <span class="text-danger">{{item.trip.substring(0,1)}}</span>{{item.trip.substring(1)}}
                </template>
                <template v-else-if="(item.delay>=360 && item.delay<540)">
                    <span class="text-danger">{{item.trip.substring(0,2)}}</span>{{item.trip.substring(2)}}
                </template>
                <template v-else>
                    <span class="text-danger">{{item.trip}}</span>
                </template>
            </td>
            <td>{{item.delay}}</td>
            <td>
                {{item.stopRef}}
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {kpisInitConfig} from '../../../runningstatus/kpiConfig'
    const axios = require('axios');
    const moment = require('moment');

    export default {
        components: {},
        name: 'delayTripsList',
        data: function () {
            return {
                tripList:[],
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                initOption:kpisInitConfig()
            }
        },
        mounted () {
            this.startRefresh()
        },
        computed: {
          tripLevel:function(trip, delay){
              if(delay>=180 && delay<360) {
                  return 1;
              } else if (delay>=360 && delay<540) {
                  return 2;
              } else {
                  return 3;
              }
          }
        },
        methods: {
            startRefresh () {
                // startup
                //load previous data
                console.log(this.shareState.playTime.format());
                this.refreshData(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshData(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*10);
            },
            beforeDestroy () {
                clearInterval(this.intervalId);
            },
            refreshData(startTime, endTime){
                axios.get("/api/v1/statis/curDelay", {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if(response.data !== undefined) {
                        this.tripList = response.data.slice(0, 10);
                    }
                });
            }
        }
    }
</script>
<style>
    .delay-trip-list thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        border-top: none;
        border-color: #577ceb;
    }
    .delay-trip-list td, .delay-trip-list th {
        border-top: none;
    }
    .delay-trip-list {
        color:#eee;
    }
</style>