<template>
    <chart :options="this.initOption" style="height: 300px; width: 100%" ref="chart" :autoResize="true"></chart>
</template>
<script>
    import {kpisInitConfig} from '../../../runningstatus/kpiConfig'
    const axios = require('axios');
    const moment = require('moment');
    export default {
        components: {},
        name: 'kpis',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                initOption:kpisInitConfig()
            }
        },
        mounted () {
            this.startRefresh()
        },
        methods: {
            startRefresh () {
                // startup
                //load previous data
                console.log(this.shareState.playTime.format());
                this.refreshData(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshData(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*60);
            },
            beforeDestroy () {
                clearInterval(this.intervalId);
            },
            refreshData(startTime, endTime){
                let statisChart = this.$refs.chart;
                if (statisChart !== undefined) {
                    axios.get("/api/v1/statis/curKPI", {
                        params: {
                            startTime: startTime.format(),
                            endTime: endTime.format()
                        }
                    }).then((response) => {
                        if(response.data !== undefined) {
                            let dto = response.data;
                            statisChart.mergeOptions({
                                series:[
                                    {
                                        name: 'Delay Trips',
                                        data:[{
                                            value: dto.delayCount
                                        }]
                                    },{
                                        name: 'Skip Stops',
                                        data:[{
                                            value: dto.skipStopCount
                                        }]
                                    },{
                                        name: 'Total Trips',
                                        data:[{
                                            value: dto.tripCount
                                        }]
                                    }
                                ]
                            });

                        }
                    });
                }

            }
        }
    }
</script>