<template>
    <div class="card card-primary" :class="{'panel-fullscreen':isFullScreen}" style="background-color: #404a59">
        <div class="card-header">
            <h3 class="card-title">Sydney Train Running Status</h3>
            <div class="card-tools">
                <div class="btn-group">
                    <a href="javascript:" class="btn btn-tool btn-sm">
                        <i class="fa" :class="{'fa-window-maximize':!isFullScreen, 'fa-window-restore':isFullScreen}" @click="fullScreenHandler"></i>
                    </a>
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-map"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-125px, 31px, 0px);">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row margin">
                <div class="col-sm-8">
                    <trip-status></trip-status>
                </div>
                <div class="col-sm-4">
                    <total-statis></total-statis>
                </div>
            </div>
            <div class="row margin">
                <div class="col-sm-12">
                    <daily-running></daily-running>
                </div>
            </div>
            <div class="row margin">
                <div class="col-sm-8">
                    <sector-status></sector-status>
                </div>
                <div class="col-sm-4">
                    <delay-trips-list></delay-trips-list>
                </div>
            </div>
            <div class="row margin">
                <div class="col-sm-12">
                    <kpis></kpis>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="row margin">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import TripStatus from "./TripStatus.vue";
    import Kpis from "./KPIs.vue";
    import SectorStatus from "./SectorStatus.vue";
    import TotalStatis from "./TotalStatis.vue";
    import DelayTripsList from "./DelayTripsList.vue";
    import DailyRunning from "./DailyRunning.vue";

    export default {
        components: {
            DailyRunning,
            DelayTripsList,
            TotalStatis,
            SectorStatus,
            Kpis,
            TripStatus},
        name: 'runningStatusPanel',
        data: function () {
          return {
              isFullScreen:false
          }
        },
        methods: {
            fullScreenHandler(){
                this.isFullScreen = !this.isFullScreen;
            }
        }
    }
</script>
<style>

</style>