<template>
    <chart :options="this.initOption" style="height: 500px; width: 100%" ref="chart" :autoResize="true"></chart>
</template>
<script>
    import {sectorStatusInitConfig} from '../../../runningstatus/sectorStatusConfig'
    const axios = require('axios');
    const moment = require('moment');
    export default {
        components: {},
        name: 'sectorStatus',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                initOption:sectorStatusInitConfig()
            }
        },
        mounted () {
            this.startRefresh()
        },
        methods: {
            startRefresh () {
                // startup
                //load previous data
                console.log(this.shareState.playTime.format());
                this.refreshData(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshData(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*60);
            },
            beforeDestroy () {
                clearInterval(this.intervalId);
            },
            refreshData(startTime, endTime){
                let statisChart = this.$refs.chart;
                if (statisChart === undefined) {
                    return;
                }
                axios.get("/api/v1/statis/curDelayAndSkip", {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if(response.data !== undefined) {
                        let option = sectorStatusInitConfig(response.data);
                        statisChart.mergeOptions(option);

                    }
                });
            }
        }
    }
</script>