<template>
    <chart :options="this.initOption" style="height: 500px; width: 100%" ref="chart" :autoResize="true"></chart>
</template>
<script>
    import {totalStatisInitCfg} from '../../../runningstatus/totalStatisConfig.js'
    const axios = require('axios');
    const moment = require('moment');
    export default {
        components: {},
        name: 'totalStatis',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                initOption:totalStatisInitCfg()
            }
        },
        mounted () {
            this.startRefresh()
        },
        methods: {
            startRefresh () {
                // startup
                //load previous data
                console.log(this.shareState.playTime.format());
                this.refreshData(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshData(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*60);
            },
            beforeDestroy () {
                clearInterval(this.intervalId);
            },
            refreshData(startTime, endTime){
                let statisChart = this.$refs.chart;
                if (statisChart === undefined) {
                    return;
                }
                axios.get("/api/v1/statis/totalRunStatus", {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if(response.data !== undefined) {
                        let dto = response.data;
                        let totalStatusBarData = [dto.totalTrips, dto.totalDelayTrips,  dto.totalSkipStops];
                        let currentStatusBarData = [dto.currentTrips, dto.currentDelayTrips,dto.currentSkipStops];
                        statisChart.mergeOptions({
                            series:[
                                {
                                    name: 'totalStatusBar',
                                    data:totalStatusBarData
                                },{
                                    name: 'currentStatusBar',
                                    data:currentStatusBarData
                                }
                            ]
                        });

                    }
                });
            }
        }
    }
</script>