<template>
    <chart :options="this.initOption" style="height: 500px; width: 100%" ref="chart" :autoResize="true"></chart>
</template>
<script>
    import {generateInitConfig, generateDelayTrips, generateSkipStops} from '../../../runningstatus/runningGeoCfg.js'
    const axios = require('axios');
    const moment = require('moment');
    export default {
        components: {},
        name: 'tripStatus',
        data: function () {
            return {
                intervalId: '',
                lastUpdated: null,
                shareState: this.$root.$data.state,
                initOption:generateInitConfig()
            }
        },
        mounted () {
            this.startRefresh()
        },
        methods: {
            startRefresh () {
                // startup
                //load previous data
                console.log(this.shareState.playTime.format());
                this.refreshData(this.shareState.startTime, this.shareState.playTime);
                this.lastUpdated = this.shareState.playTime;
                this.intervalId = setInterval(() => {
                    if(this.shareState.isPlay && this.shareState.playStatus !== 'Pause') {
                        this.refreshData(this.lastUpdated, this.shareState.playTime);
                        this.lastUpdated = this.shareState.playTime;
                    }
                }, 1000*60);
            },
            beforeDestroy () {
                clearInterval(this.intervalId);
            },
            refreshData(startTime, endTime){
                let statisChart = this.$refs.chart;
                if (statisChart === undefined) {
                    return;
                }
                let delayData = [];
                let skipStopData = [];
                axios.get("/api/v1/statis/curDelay", {
                    params: {
                        startTime: startTime.format(),
                        endTime: endTime.format()
                    }
                }).then((response) => {
                    if(response.data !== undefined) {
                        delayData = response.data.filter(item => item.lat<=180);
                    }
                    axios.get("/api/v1/statis/curSkipStop", {
                        params: {
                            startTime: startTime.format(),
                            endTime: endTime.format()
                        }
                    }).then((response) => {
                        if(response.data !== undefined) {
                            skipStopData = response.data.filter(item => item.lat<=180);
                        }
                        // update the data
                        statisChart.mergeOptions({
                            series:[
                                {
                                    name: 'delayTrip',
                                    data:generateDelayTrips(delayData)
                                },
                                {
                                    name: 'skipStop',
                                    data:generateSkipStops(skipStopData)
                                }
                            ]
                        });
                    });
                });
            }
        }
    }
</script>